.container {
    margin-top: 50px;
}

.btn-outline-primary {
    margin: 25px 10px 10px 0px;;
}

#searchArea {
}

#url {
    border-style: solid;
    border-bottom-width: 2px;
    border-color: royalblue;
    width: 100%;
}